@{
    ViewData["Title"] = "Página Inicial";
}

<di class=" d-flex justify-content-center align-items-center">
    <img src="~/img/Yrke.png" alt="Alternate Text" style="max-height:350px; object-fit: cover"/>
</di>

<div class="text-center">
    <h2 class="display-5">Bem-vindo ao Yrke</h2>
    <p class="lead">Sistema de gestão de escalas hospitalares</p>

    <hr />
</div>

@if (TempData["WelcomeMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["WelcomeMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
