@model Yrke.ViewModels.LoginViewModel



<div class="d-flex vh-100 justify-content-center align-items-center">

    <form asp-action="Login"
          method="post"
          class="p-3 shadow rounded"
          style="width:450px; max-width:90% background-color:white">

        <div class="mb-4">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" type="password" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Entrar
        </button>

        <div class="text-center mt-3">
            <a asp-controller="Account" asp-action="Cadastrar">Cadastrar</a>
            <span class="mx-2">|</span>
            <a asp-controller="Account" asp-action="RecuperarSenha">Recuperar senha</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
