@model Yrke.ViewModels.LoginViewModel

<h2>Login</h2>


<div class="d-flex vh-100 justify-content-center align-items-center">

    <form asp-action="Login"
          method="post"
          class="p-3 shadow rounded"
          style="width:450px; max-width:90% background-color:white">

        <div class="mb-4">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" type="password" class="form-control" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Entrar
        </button>

        <div class="text-center mt-3">
            <a asp-controller="Account" asp-action="Cadastrar">Cadastrar</a>
            <span class="mx-2">|</span>
            <a asp-controller="Account" asp-action="RecuperarSenha">Recuperar senha</a>
        </div>
    </form>
    <!-- Modal Bootstrap -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Erro de Login</h5>
                </div>
                <div class="modal-body">
                    <p><bold>Gentileza verificar Email e Senha.</bold></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Ops!</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
        <script>
            // Se houver erro, abre o modal
            @if (!ViewData.ModelState.IsValid)
            {
                    <text>
                        var myModal = new bootstrap.Modal(document.getElementById('errorModal'));
                        myModal.show();
                    </text>
            }
        </script>
}
