<nav class="navbar navbar-expand-lg bg-terra">
    <div class="container">
        <!-- Logo à esquerda -->
        <a class="navbar-brand" href="#">
            <img src="~/img/logo.png" alt="Yrke" height="50" class="d-inline-block align-text-top">
            Yrke
        </a>

        <!-- Botão do menu para mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu à direita -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-terra-claro" href="#">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-terra-claro" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-terra-claro" href="#">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-terra-claro" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
